* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.main-text {
    margin: 10px;
}

.recipe-text {
  padding-top: 50px;
  flex: initial;
}


.spacing {
    color: darkslategray;
}

.flex-head {
    display: flex;
    background-color: darkslategray;
    color: antiquewhite;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-body {
    display: flex;
}

.title {
    font-size: 50px;
    align-self: center;
}

.link {
    font-size: 28px;
    background-color: antiquewhite;
    color: darkslategray;
}

#test {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    background-color: darkslategray;
}

.image {
    width: 300px;
    height: auto;
    margin: 50px;
    flex: none;
}
.image.lasagna {
    width: 300px;
    height: 225px;
}

.home-link {
    color: antiquewhite;
    align-self: center;
}

