body {
  font-family: 'Courier New', Courier, monospace;
}

.title {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    background-color: darkslategray;
}

.link {
    font-size: 28px;
    background-color: aquamarine;
    color: navy;
}

#test {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    background-color: darkslategray;
}