* {
    margin: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.main-text {
  margin: 10px;
}

.title {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    background-color: darkslategray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.link {
    font-size: 28px;
    background-color: aquamarine;
    color: navy;
}

#test {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    background-color: darkslategray;
}

.image {
    width: 300px;
    height: auto;
    margin: 50px;
}

.test {
    display: inline;
}